<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>File Uploader</title>
    </head>
    <body>
        <h1>File Uploader</h1>
        <nav>
            <% if (!locals.currentUser) { %>
            <a href="/login">Login</a>
            <a href="/signup">Sign Up</a>
            <% } else { %>
            <p><%= currentUser.username %></p>
            <a href="/logout">Logout</a>
            <% } %>
        </nav>

        <% if (locals.currentUser) { %>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <p>
                <label for="file">Input New File: </label>
                <input type="file" id="file" name="file" />
            </p>
            <button>Submit</button>
        </form>
        <% } %> <% locals.files && locals.files.forEach(file => { %>
        <div class="file"><%= file.alias %></div>
        <form action="/download">
            <input type="hidden" value="<%= file.name %>" name="file"/>
            <button>Download</button>
        </form>
        <% }); %>
    </body>
</html>
